*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #e8e7e3;
}
header{
    background-image: url(../library/imgs/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 75%;
    height: 660px;
    margin-bottom: 75px; 
}
header .nave {
    background-color: rgb(70 71 35);
    box-shadow: -1px lid red 11px 0px #404830;
    position: fixed;               /* position: sticky; ???  */
    width: 33.5%;                  
    left: 75%;
    top: 0px;
    height: 657px; 
}
header .nave ul .nb a{
    text-decoration: none;
}
header .nave ul .nb,
.nb_active{
    text-align: center;
    margin: 10% 0%;
    list-style: none;
}
header .nave ul .nb_active{
    text-shadow: 0px 4px 7px gainsboro;
}
header .nave ul li h1{
    color: rgb(255 255 255 );
    font-size: 25px;
    text-transform:uppercase;
    cursor: pointer;
}
header .nave ul li i {
    color: rgb(255 255 255 );
    position: relative;
    top: 47px;
    padding: 15px;
    right: 115px;
    font-size: 30px;
    border: 1px solid rgb(255 255 255 );
    border-right-style: none;
}
header div h2 {
    animation-name: text;
    animation-duration: 4s;
    animation-delay: 2s;
    letter-spacing: 4px;
    background-color: #989a5499;
    padding: 12px;
    margin: 20% 0px 0px 36%;
    width: 50%;
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
    font-family: monospace;
}
header .head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header div p {
    animation-name: text;
    animation-duration: 4s;
    animation-delay: 5s;
    width: 50%;
    margin: 4% 0px 10px 44%;
    letter-spacing: 4px;
    background-color: #989a5499;
    padding: 12px;
    text-transform: capitalize;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-family: monospace;
}
@keyframes text{
    30%{
        letter-spacing: 7px;
        padding: 15px;
    }
    60%{
        letter-spacing: 5px;
        padding: 12px;
    }
}
main section  h2{
    width: 75%;
    margin: -30px 0px 40px 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
}
main section h2::before{
    content: "______________________";
    font-size: 20px;
    color: #989a5499;
    position: relative;
    top: -13px;
    right: 10px;
}
main section h2::after{
    content: "______________________";
    font-size: 20px;
    color: #989a5499;
    position: relative;
    top: -13px;
    left: 10px;
}
main section .books{
    background-image: url(../library/imgs/steps.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 75%;
    height: 660px;
    padding: 20px;
    margin-bottom: 55px;
}
main section .books h3{
    font-size: 25px;
    text-transform: uppercase;
}
main section .books i{
    font-size: 20px;
    text-shadow: 0px 4px 7px gainsboro;
    color:white;
}
main section  p {
    color:rgba(0, 0, 0, 0.644);
    font-size: 20px;
    text-transform: capitalize;
    font-family: serif;
}
main section .search {
    margin: 20px 0px 20px 55px;
    width: 310px;
    padding: 18px;
    text-align: center;
    background-color: #989a54db;
    box-shadow: 5px 7px 10px 0px rgb(49 42 42);
    border-radius: 0px 37px 37px;
}
main section .dec {
    text-align: center;
    margin: 0px 0px 20px 0px;
    width: 330px;
    position: relative;
    right: -33%;
    padding: 15px;
    background-color: #989a54db;
    box-shadow: 5px 7px 10px 0px rgb(49 42 42);
    border-radius: 0px 37px 37px;
}
main section .read {
    padding: 18px;
    width: 330px;
    position: relative;
    text-align: center;
    right: -65%;
    margin: 0px 0px 20px 0px;
    background-color: #989a54db;
    box-shadow: 5px 7px 10px 0px rgb(49 42 42);
    border-radius: 0px 37px 37px;
}
main section div .contact {
    font-size: 25px;
    padding: 5px;
    margin: 30px 12.5%;
}

/* start footer css */
footer{
    width: 75%;
    background-color: #989a54db;
    margin-top: 35px;
}
footer form{
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
footer form label {
    font-size: 25px;
    margin: 10px 0px;
    text-transform: capitalize;
    font-family: serif;
    padding: 0px 70px 0px;
}
footer form input {
    width: 25%;
    height: 55px;
    font-size: 15px;
    margin: 10px 40px;
    border-style: none;
    border-radius: 18px;
    text-align: center;
    background-color: #989a54db;
    border-bottom: 2px solid rgb(49 42 42 / 48%);
}
form textarea:focus { 
    outline: none !important;
    border-style: none;
    box-shadow:5px 7px 10px 0px rgb(49 42 42) ;
}
form input:focus{
    outline: none !important;
    border-style: none;
    box-shadow:5px 7px 10px 0px rgb(49 42 42) ;
}
footer form .submit{
    width: 150px;
    height: 50px;
    border-radius: 15px;
    margin: 30px 45px -60px 45px;
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color: black;
    color:#989a54db ;
}
footer form textarea{
    width: 263px;
    text-align: center;
    padding: 20px;
    height: 72px;
    overflow: hidden;
    border-style: hidden;
    border-radius: 5px;
    background-color: rgba(152, 154, 84, 0.86);
    border-bottom: 2px solid rgb(49 42 42 / 48%);
    position: relative;
    top: -260px;
    left: 45%;
    color: #75756b;
    font-size: 18px;
}
footer section {
    float: right;
    margin: -37% 0px 0px 0px;
    padding: 20px;
    text-transform: capitalize;
}
footer section div{
    font-size: 22px;
    cursor: pointer;
    padding: 30px 15px;
    margin: -10px 0px 0px 0px;
}
/* end footer css */
@media  (max-width:767px){
    header .nave ul li h1 {
        font-size: 15px;
        margin: 8% 0px;
    }
    header .nave ul li i {
        top: 50px;
        right: 65px;
        font-size: 15px;
    }
    header div h2 {
        letter-spacing: 3px;
        padding: 9px;
        top: 180px;
        right: -29%;
        font-size: 15px;
    }
    header div p {
        letter-spacing: 3px;
        top: 230px;
        right: 10%;
        padding: 9px;
        font-size: 13px;
    }
    @keyframes text{
        30%{
            letter-spacing: 5px;
            padding: 12px;
        }
        60%{
            letter-spacing: 3px;
            padding: 9px;
        }
    }
    main section h2 {
        font-size: 13px;
    }
    main section h2::before {
        content: "__________________";
        font-size: 14px;
        top: -7px;
        right: 7px;
    }
    main section h2::after {
        content: "__________________";
        font-size: 14px;
        top: -7px;
        left: 7px;
    }
    main section .books {
        padding: 5px;
    }
    main section .books h3 {
        font-size: 15px;
    }
    main section p {
        font-size: 13px;
    }
    main section .books i {
        font-size: 15px;
    }
    main section .search {
        margin: 8px 0px 20px 10px;
        width: 260px;
        padding: 12px;
    }
    main section .dec {
        width: 255px;
        right: -16%;
        padding: 11px;
    }
    main section .read {
        padding: 12px;
        width: 250px;
        right: -43%;
    }
    main section .contact {
        margin: 0px 12.5%;
        position: relative;
        top: 37%;
        font-size: 12px;
    }
    main section .contact::before {
        content: "__________________";
        font-size: 11px;
        top: -5px;
        left: 5px;
    }
    main section .contact::after {
        content: "__________________";
        font-size: 11px;
        top: -7px;
        left: 7px;
    }
    main section div .contact {
        font-size: 20px;
        margin: 255px 12.5%;
    }
    footer form label {
        font-size: 15px;
        padding: 0px 35px 0px;
    }
    footer form input {
        width: 30%;
        font-size: 10px;
        margin: 13px;
    }
    footer section {
        margin: -85% 0px 0px 0px;}
    footer section div {
        font-size: 18px;
    }
        footer form textarea {
        width: 120px;
        padding: 15px;
        height: 45px;
        overflow: hidden;
        position: inherit;
        margin: 10px 15px;
        font-size: 10px;
    }
    footer form .submit {
        width: 109px;
        height: 59px;
        margin: 18px;
        font-size: 18px;
    }
}
@media  (max-width:1023px) and (min-width:768px){
    header .nave ul li i {
        top: 40px;
        right: 90px;
        font-size: 24px;
    }
    header .nave ul li h1 {
        font-size: 20px;
    }
    header div p {
        font-size: 12px;
        letter-spacing: 3px;
    }
    header div h2 {
        font-size: 14px;
        letter-spacing: 3px;
    }
    @keyframes text{
        30%{
            letter-spacing: 5px;
            padding: 12px;
        }
        60%{
            letter-spacing: 3px;
            padding: 9px;
        }
    }
    main section h2 {
        font-size: 20px;
    }
    main section h2::before {
        font-size: 15px;
        top: -10px;
        right: 10px;
    }
    main section h2::after {
        font-size: 15px;
        top: -10px;
        left: 10px;
    }
    main section .search {
        margin: 20px 0px 20px 15px;
        width: 285px;
        padding: 5px;
    }
    main section .books {
        padding: 1px;
    }
    main section .dec {
        width: 300px;
        right: -28%;
        padding: 8px;
    }
    main section .books h3 {
        font-size: 20px;
    }
    main section .read {
        padding: 5px;
        width: 285px;
        right: -50%;
    }
    main section div .contact {
        font-size: 16px;
        margin: 90px 12.5%;
    }
    footer form textarea {
        width: 198px;
        top: -195px;
        left: 40%;
        font-size: 18px;
    }
    footer section {
        margin: -60% 0px 0px 0px;
        padding: 0px; 
    }
    footer section div {
        font-size: 18px;
        padding: 28px 3px;
    }
}
@media (min-width:1024px) and (max-width:1224px){
    header div h2 {
        font-size: 22px;
    }
    header div p {
        font-size: 20px;
    }
    main section div .contact {
        margin: 65px 12.5%;
    }
    main section .read {
        right: -56%;
    }
    main section div .contact {
        margin: 25px 12.5%;
        font-size: 18px;
    }
    main section h2::before {
        font-size: 16px;
        top: -8px;
    }
    main section h2::after {
        font-size: 16px;
        top: -8px;
    }
    footer form .submit {
        margin: 15px 65px;
    }
    footer form textarea {
        left: 325px;
    }
    footer section {
        margin: -50% 0px 0px 0px;
    }
}
